PORT=10000

DATABASE_URL="postgresql://*****:*****@localhost:5433/epsi_authentication?schema=public"

CUSTOMER_API_URL="http://localhost:7000/api/customers"
ORDER_API_URL="http://localhost:8000/api/orders"
PRODUCT_API_URL="http://localhost:9000/api/products"